@import '@styles/colors';

.button {
  display: flex;
  border: 2.29px solid $mainDark;
  border-radius: 1.2rem;
  padding: 0.9rem 1.8rem;
  background: $mainDark;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.3s ease-in;

  &:hover {
    background-color: #222;
    border-color: #222;
  }

  &.buttonOutline {
    background-color: $white;
    
    &:hover {
      background-color: $buttonHover;
    }

    .button__text {
      color: $mainDark;
    }
  }

  .button__text {
    font-family: $second-family;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 150%;
    text-transform: uppercase;
    color: $white;
  }
}
