$font-family: "Poppins", sans-serif;
$second-family: "Inter", sans-serif;
$third-family: "Outfit", sans-serif;
$font3: "Public Sans", sans-serif;

$background-color: #f9f9f9;
$carousel-background-color: #f1f1f1;
$white: #fff;
$black: #000;
$buttonHover: #d7d7d7;
$buttonHover2: #f2f2f2;
$mainDark: #141416;