$font-family: "Poppins", sans-serif;
$second-family: "Inter", sans-serif;
$third-family: "Outfit", sans-serif;
$font3: "Public Sans", sans-serif;

$background-color: #f9f9f9;
$carousel-background-color: #f1f1f1;