@import '@styles/colors';

.mainPage {
  display: flex;
  flex-direction: column;
  background-color: $background-color;

  .content {
    padding-top: 14.86111111111111vw;
  }
}

@media screen and (max-width: 720px) {
  .mainPage {
    .content {
      padding-top: 48vw;
    }
  }
}