@import "@styles/colors";

.header {
  position: fixed;
  width: 100%;
  height: 6.1111vw;
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-color;
  z-index: 10;
  transition: padding 0.5s ease-out;

  .header__container {
    width: 86.875vw;
    padding: 0.20833vw 0;
    display: flex;

    gap: 3.962vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .header__logo {
      display: flex;

      .logo__link {
        .logo__image {
          width: 3.68vw;
          height: 3.68vw;
          object-fit: contain;
        }

        .logo__imageMobile {
          display: none;
        }
      }

      .header__switchMenu {
        display: none;
      }
    }

    .header__menu {
      display: flex;
      flex: 1;
      flex-direction: row;

      .menu__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3.714vw;

        .menu__listItem > a {
          font-family: $second-family;
          font-weight: 500;
          font-size: 1.25vw;
          line-height: 150%;
          text-transform: uppercase;
          color: #606060;
        }
      }

      .menu__socials {
        display: none;
      }
    }

    .buttons {
      .button__connectWallet {
        padding: 1.1229vw 1.6847vw;
      }
      .button__connectWalletText {
        font-size: 1.1111111111111112vw;
        font-weight: 600;
        line-height: 150%;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .header {
    position: fixed;
    width: 100%;
    height: 28.26666666666667vw;
    padding-top: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: $background-color;
    overflow: hidden;
    transition: height 0.5s ease-out;

    

    .header__container {
      width: 84.53333333333333vw;
      padding: 8vw 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: unset;

      .header__logo {
        width: 100%;
        padding-bottom: 7.890666666666666vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          right: 0;
          width: 83.73333333333333vw;
          height: 0;
          border-bottom: 0.50px solid #cbcbcb;
        }
        
        .logo__link {
          .logo__image {
            display: none;
          }

          .logo__imageMobile {
            display: flex;
            width: 37.7226vw;
            height: 12.376vw;
            object-fit: contain;
          }
        }

        .header__switchMenu {
          display: flex;
          border: none;
          background: transparent;
          padding: 0;
          margin: 0;
          cursor: pointer;

          img {
            width: 8.4vw;
            height: 5.95466667vw;
          }
        }
      }
      

      .header__menu {
        display: none;
        flex-direction: column;
        width: 100%;

        

        .menu__list {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 11.733333333333333vw 0;
          gap: 5.333333333333334vw;

          .menu__listItem > a {
            font-family: $second-family;
            font-weight: 500;
            font-size: 10.666666666666668vw;
            line-height: 105%;
            text-transform: uppercase;
            color: #606060;
          }
        }

        .menu__socials {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 9.352vw;

          path {
            fill: #535353;
          }
        }
      }

      .buttons {
        display: none;

        .button__connectWallet {
          position: fixed;
          margin: auto;
          left: 0;
          right: 0;
          bottom: 4rem;

          width: 84.26666666666667vw;
          padding: 5.066666666666666vw 1.6847vw;
        }
        .button__connectWalletText {
          font-size: 5.333333333333334vw;
          font-weight: 600;
          line-height: 110%;
        }
      }
    }

    &.isOpen {
      height: 100vh;
      align-items: flex-start;

      .header__menu {
        display: flex;
      }

      .buttons {
        display: flex;
      }
    }
  }
}

@media screen and (min-width: 720px) {
  .header.isScroll {
    padding-top: 0;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }
}